body{
    margin-left: 5%;
    margin-right: 5%;
    background-color: lavender;
}
h3{
    color: maroon;
}
#update{
    display: none; 
}
table{
    margin-left: 10%;
    margin-right: 10%;
    border-collapse: collapse;
    border: 1px solid white;
    width: 70%; 
    background-color: white;
}
table, td{
    border-bottom: 1px solid white;
    padding: 10px;
}
table tr:nth-child(even){
    background-color: darkgray;
}
table tr:hover{
    background-color: ghostwhite;
}
#cname{
    width: 250px;
    height: 25px;
    border: 1px solid blue;
}
#email{
    width: 250px;
    height: 25px;
    border: 1px solid blue;
}
#mobile{
    width: 250px;
    height: 25px;
    border: 1px solid blue;
}
table td button{
    width: 80px;
    height: 25px;
    background-color: blue;
    color: white;
}